/*Primary

--Lime-Green: hsl(163, 72%, 41%)
--Bright Red: hsl(356, 69%, 56%)
Facebook: hsl(195, 100%, 50%)
Twitter: hsl(203, 89%, 53%)
Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
YouTube: hsl(348, 97%, 39%)

Dark Theme
Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

Light Theme
Toggle: hsl(230, 22%, 74%)

Neutral

Dark Theme
Very Dark Blue (BG): hsl(230, 17%, 14%)
Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
Desaturated Blue (Text): hsl(228, 34%, 66%)
White (Text): hsl(0, 0%, 100%)

Light Theme
White (BG): hsl(0, 0%, 100%)
Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
Dark Grayish Blue (Text): hsl(228, 12%, 44%)
Very Dark Blue (Text): hsl(230, 17%, 14%)
font-family: 'Inter', sans-serif;
*/
*{
    padding:0;
    margin:0;
}
html{
    box-sizing: border-box;
}
body{
    padding:1rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color:  hsl(225, 100%, 98%);
}
#main{
    background-color: white;
}
.background{
    
    position: absolute;
    height:500px;
    width:auto;
}
@media only screen and (max-width:375px) {
.sec1-head{
    margin:1rem 0;
    position: relative;
    text-align: left;
    
}
.sub-head{
    color:hsl(228, 12%, 44%);
    font-size:small;
    font-weight: bold;
}
.dark-mode{
    color:hsl(228, 12%, 44%);
    font-size:small;
    font-weight: bolder;
}
.theme-switch{
    margin: 1rem 0 3rem;
    text-align:left;
}
#theme-changer{
    position:relative;
    float:right;
    top:0px;
}
input[type="checkbox"]{
    position:relative;
    width:40px;
    height:20px;
    -webkit-appearance:none;
    background-color: hsl(230, 22%, 74%);
    outline:none;
    border-radius:20px;

}
input[type="checkbox"]::before{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 20px;
    transform: scale(0.8,0.8);
    transition:0.5s;
    background-color: white;
    right:0;
}
input:checked[type="checkbox"]::before{
    background-color: white;
    right:20px;
}
input[type="checkbox"]::after{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 20px;
    transform: scale(0.8,0.8);
    transition:0.5s;
    left:0;
}
input:checked[type="checkbox"]::after{
    background-color: hsl(230, 17%, 14%);
    left:0px;
}
.sec1-div1, .sec1-div2,.sec1-div3,.sec1-div4 {
    background-color: hsl(227, 47%, 96%);
    padding:1rem 0;
    margin:1rem 0;
    border-radius: 8px;
    max-width:375px;
}
.sec1-div1{
    border-top: 5px solid hsl(195, 100%, 50%);
}
.sec1-div2{
    border-top: 5px solid hsl(203, 89%, 53%);
}
.sec1-div3{
    border-top: 5px solid transparent;
    border-image: linear-gradient(90deg,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    border-image-slice: 1;
    border-radius: 5px;
}
.sec1-div4{
    border-top: 5px solid hsl(348, 97%, 39%);
}
.users{
    padding:1rem 0;
    font-size: small;
    color:hsl(228, 12%, 44%);
    font-weight: bold;
}
.facebook-icon, .twitter-icon, .insta-icon, .youtube-icon{
    vertical-align: middle;
    padding:0.5rem;
}
p.followers-numbers{
    font-size: 3rem;
    padding:1rem 0 0;
    color: black;
}
p.followers{
    text-transform: uppercase;
    color:hsl(228, 12%, 44%); 
    letter-spacing: 3px;
    font-size: small;
}
.daily1,.daily2,.daily3,.daily4{
    font-size: small;
    padding:1rem 0 0;
    font-weight:bold;
}
.daily1,.daily2,.daily3{
    color:hsl(163, 72%, 41%);
}
.daily4{
    color:hsl(356, 69%, 56%);
}
.sec2-head{
    text-align: left;
    margin:2rem auto 1.5rem 0;
}
.sec2-subhead{
    font-weight: bold;
}
.sec2-div1,.sec2-div2,.sec2-div3,.sec2-div4,.sec2-div5,.sec2-div6,.sec2-div7,.sec2-div8{
    background-color: hsl(227, 47%, 96%);
    padding:1.5rem 0;
    margin:1rem 0;
    border-radius: 5px;
    position: relative;
    height:5rem;
    max-width:375px;
}
.top-left{
    position: absolute;
    top:0;
    left:0;
    padding:1rem;
    
}
.top-right{
    position: absolute;
    top:0;
    right:0;
    padding:1rem;
    color:hsl(230, 17%, 14%);
}
.bottom-left{
    position: absolute;
    bottom:0;
    left:0;
    padding:1rem;
    font-size: 2rem;
}
.bottom-right1,.bottom-right2,.bottom-right3,.bottom-right4,.bottom-right5,.bottom-right6,.bottom-right7,.bottom-right8{
    position: absolute;
    bottom:0;
    right:0;
    padding:1rem;
    font-size: small;
}
.bottom-right1, .bottom-right3,.bottom-right4,.bottom-right5,.bottom-right6 {
    color: hsl(163, 72%, 41%);
}
.bottom-right2,.bottom-right7,.bottom-right8{
    color: hsl(356, 69%, 56%);;
}
.up-arrow{
    vertical-align: middle;
    padding:0.2rem;
}
.down-arrow{
    vertical-align: middle;
    padding:0.2rem;
}
}
@media only screen and (min-width:375px) {
    #main{
        max-width:760px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
    }
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    }
    .sec2-head{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .sec1-head{
        margin:1rem 0;
        position: relative;
        text-align: left;
        grid-row: 1/2;
        grid-column: 1/3;
        padding: 1rem;
    }
    .invisible{
        display: none;
    }
    .sub-head{
        color:hsl(228, 12%, 44%);
        font-size:small;
        font-weight: bolder;
    }
    .dark-mode{
        color:hsl(228, 12%, 44%);
        font-size:small;
        font-weight: bolder;
        float: right;
        position: absolute;
        right: 50px;
        top: 1rem;
    }
    .theme-switch{
        margin: 1rem 0 3rem;
        text-align:left;
    }
    #theme-changer{
        position: absolute;
        float:right;
        top: 1rem;
        right:0;
    }
    input[type="checkbox"]{
        position:relative;
        width:40px;
        height:20px;
        -webkit-appearance:none;
        background-color: hsl(230, 22%, 74%);
        outline:none;
        border-radius:20px;
    
    }
    input[type="checkbox"]::before{
        content:'';
        position: absolute;
        width:20px;
        height:20px;
        border-radius: 20px;
        transform: scale(0.8,0.8);
        transition:0.5s;
        background-color: white;
        right:0;
    }
    input:checked[type="checkbox"]::before{
        background-color: white;
        right:20px;
    }
    input[type="checkbox"]::after{
        content:'';
        position: absolute;
        width:20px;
        height:20px;
        border-radius: 20px;
        transform: scale(0.8,0.8);
        transition:0.5s;
        left:0;
        
    }
    input:checked[type="checkbox"]::after{
        background-color: hsl(230, 17%, 14%);
        left:0px;
    }
    
    .sec1-div1, .sec1-div2,.sec1-div3,.sec1-div4 {
        background-color: hsl(227, 47%, 96%);
        padding:1rem;
        margin:1rem;
        border-radius: 8px;
        max-width:375px;
        max-height: calc(65%*375);
    }
    .sec1-div1{
        border-top: 5px solid hsl(195, 100%, 50%);
    }
    .sec1-div2{
        border-top: 5px solid hsl(203, 89%, 53%);
    }
    .sec1-div3{
        border-top: 5px solid transparent;
        border-image: linear-gradient(90deg,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
        border-image-slice: 1;
        border-radius: 5px;
    }
    .sec1-div4{
        border-top: 5px solid hsl(348, 97%, 39%);
    }
    .users{
        display: inline-block;
        padding:1rem 0;
        font-size: small;
    }
    .facebook-icon, .twitter-icon, .insta-icon, .youtube-icon{
        vertical-align: middle;
        padding:0.5rem;
    }
    p.followers-numbers{
        font-size: 3rem;
        padding:1rem 0 0;
        color: black;
    }
    p.followers{
        text-transform: uppercase;
        color:hsl(228, 12%, 44%); 
        letter-spacing: 3px;
        font-size: small;
    }
    .daily1,.daily2,.daily3,.daily4{
        font-size: small;
        padding:1rem 0 0;
        font-weight:bold;
    }
    .daily1,.daily2,.daily3{
        color:hsl(163, 72%, 41%);
    }
    .daily4{
        color:hsl(356, 69%, 56%);
    }
    .sec2-head{
        text-align: left;
        margin:2rem auto 1.5rem 1rem;
    }
    .sec2-subhead{
        font-weight: bold;
    }
    .sec2-div1,.sec2-div2,.sec2-div3,.sec2-div4,.sec2-div5,.sec2-div6,.sec2-div7,.sec2-div8{
        background-color: hsl(227, 47%, 96%);
        padding:1.5rem 1rem;
        margin:1rem;
        border-radius: 5px;
        position: relative;
        height:5rem;
        max-width:375px;
    }
    .top-left{
        position: absolute;
        top:0;
        left:0;
        padding:1rem;
        
    }
    .top-right{
        position: absolute;
        top:0;
        right:0;
        padding:1rem;
        color:hsl(230, 17%, 14%);
    }
    .bottom-left{
        position: absolute;
        bottom:0;
        left:0;
        padding:1rem;
        font-size: 2rem;
    }
    .bottom-right1,.bottom-right2,.bottom-right3,.bottom-right4,.bottom-right5,.bottom-right6,.bottom-right7,.bottom-right8{
        position: absolute;
        bottom:0;
        right:0;
        padding:1rem;
        font-size: small;
    }
    .bottom-right1, .bottom-right3,.bottom-right4,.bottom-right5,.bottom-right6 {
        color: hsl(163, 72%, 41%);
    }
    .bottom-right2,.bottom-right7,.bottom-right8{
        color: hsl(356, 69%, 56%);;
    }
    .up-arrow{
        vertical-align: middle;
        padding:0.2rem;
    }
    .down-arrow{
        vertical-align: middle;
        padding:0.2rem;
    }
    }
@media only screen and (min-width:1445px) {
    #main{
        max-width:1445px;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .sec2-head{
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .sec1-head{
        margin:1rem 0;
        position: relative;
        text-align: left;
        grid-row: 1/2;
        grid-column: 1/5;
    }
    .invisible{
        display: none;
    }
    .sub-head{
        color:hsl(228, 12%, 44%);
        font-size:small;
        font-weight: bolder;
        padding: 1rem 0;
    }
    .dark-mode{
        color:hsl(228, 12%, 44%);
        font-size:small;
        font-weight: bolder;
        float: right;
        position: absolute;
        right: 50px;
        top: 0;
    }
    .theme-switch{
        margin: 1rem 0 3rem;
        text-align:left;
    }
    #theme-changer{
        position: absolute;
        float:right;
        top: 0;
        right:0;
    }
}
    
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }