/* Primary */
/* Dark Theme */
/* Light Theme */
/* Neutral */
/* Dark Theme */
/* Light Theme */
.border-top-fb {
  border-top: 5px solid hsl(195, 100%, 50%);
}

.border-top-tw {
  border-top: 5px solid hsl(203, 89%, 53%);
}

.border-top-in {
  position: absolute;
  background: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.border-top-yt {
  border-top: 5px solid hsl(348, 97%, 39%);
}

p {
  margin: 0;
}

.dark-theme {
  background-color: hsl(230, 17%, 14%);
  color: hsl(0, 0%, 100%);
}

.dark-theme .card {
  background-color: hsl(228, 28%, 20%);
}

.dark-theme .card:hover {
  background-color: rgb(51, 58, 86);
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: hsl(228, 12%, 44%);
  font-display: swap;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.card {
  background-color: hsl(227, 47%, 96%);
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  text-align: center;
  max-width: 275px;
  min-width: 275px;
  position: relative;
  cursor: pointer;
  display: flex;
}

.card:hover {
  background-color: hsl(227, 47%, 90%);
}

.section1 .sec1-head {
  margin: 1em auto 0;
  max-width: 300px;
  min-width: 300px;
  position: relative;
  z-index: 1;
}
.section1 h1 {
  margin: 0;
  font-size: 2em;
}

.header-bg {
  background-color: hsl(225, 100%, 98%);
  height: 40vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(228, 12%, 44%);
  font-weight: bold;
}
.user span {
  padding-left: 0.5em;
}

.up {
  color: #006400;
}

.down {
  color: #8B0000;
}

.up, .down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-1 {
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;
}

.column-2 {
  justify-content: space-between;
  align-items: end;
}

.followers-numbers {
  padding-top: 2em;
}

.attribution {
  text-align: center;
}

.social-media .card {
  flex-direction: column;
}
.social-media .card .followers {
  font-size: small;
  padding-bottom: 1em;
  letter-spacing: 3px;
  font-weight: lighter;
}
.social-media .card strong {
  font-weight: 700;
  font-size: 3em;
  color: black;
}

.overview {
  flex-direction: column;
}
.overview .sec2-subhead {
  margin: 1em 1em 0;
}
.overview .card {
  min-height: 4.5em;
}
.overview strong {
  font-weight: 700;
  font-size: 2em;
  color: black;
}

.label {
  display: flex;
  justify-content: space-between;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(230, 22%, 74%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 4px;
  bottom: 4px;
  background-color: hsl(230, 22%, 98%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-16px);
  -ms-transform: translateX(-16px);
  transform: translateX(-16px);
  background-color: rgb(54, 56, 87);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 510px) {
  .container {
    justify-content: start;
  }
  .header-bg {
    height: 25vh;
  }
  .section1 .sec1-head {
    margin: 1em;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .section1 .sec1-head .label {
    gap: 1em;
    align-items: center;
  }
  .section1 .invisible {
    display: none;
  }
  .card {
    max-width: 275px;
    min-width: 190px;
  }
}
@media (min-width: 726px) {
  .container {
    max-width: 1084px;
    justify-content: center;
  }
}

/*# sourceMappingURL=output.css.map */
